.crewBackground {
  background-image: url(../assets/background-crew-mobile.jpg);
}
.anoushehImage {
  width: 300px;
  display: flex;
  margin: 0 auto;
  justify-content: right;
  align-items: right;
  align-self: right;
  align-content: right;
}
h4 {
  color: rgba(237, 240, 245, 0.5);
}
p {
  color: rgba(237, 240, 245, 0.7);
  line-height: 25px;
}
h1 {
  font-weight: 700;
  color: rgba(237, 240, 245, 0.8);
}
.crewCircle {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 40px;
}
.circle {
  border-radius: 50%;
  padding: 5px;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
}
.textContent {
  margin-top: 40px;
}
