* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.HomeBody {
  background-image: url(../assets/background-home-mobile.jpg);
  background-size: cover;
  font-family: Nunito;
  background-repeat: no-repeat;
  /* margin: 0; */
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  color: white;
}
.homeText > * {
  margin: 30px;
}
.homeheader {
  font-size: 4rem;
}
.HomeBodyText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.explore {
  width: 40%;
  padding: 10px;
  position: absolute;
  top: 65%;
  left: 30%;
}

.explore:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.explore div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: rgb(3, 7, 18);
}

@media (min-width: 650px) {
  .HomeBody {
    background-image: url(../assets/background-home-desktop.jpg);
    width: 100%;
    max-width: 1300px;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .HomeBodyText {
    flex-direction: row;
  }

  .explore {
    position: absolute;
    top: 55%;
    left: 70%;
    width: 20%;
    padding: 10px;
  }

  .homeText {
    text-align: left;
    color: white;
    width: 30%;
    margin: 10px auto;
    position: absolute;
    top: 68%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Roboto", sans-serif;
  }
  .homeText > * {
    margin: 10px;
  }
  .homeheader {
    font-size: 8vw;
    letter-spacing: 10px;
    margin: o;
  }
}
