.technologyBackground {
  background-image: url(../assets/background-technology-mobile.jpg);
}
.technology > * {
  background-size: cover;
  width: 100%;
}

.technology-image {
  width: 100%;
  background-size: cover;
}
.tech-circle {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}
.tech-circle > a {
  border-radius: 50%;
  padding: 12px;
  color: #c7c3c3;
  border: 2px solid #c7c3c3;
  background-color: transparent;
  text-decoration: none;
}
.technology {
  margin-bottom: 0;
}
.lau {
  margin-top: 0;
}
